body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: MullerRegular;
}

a, a:hover {
	text-decoration: none;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	background: url(../img/header__bg.png) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 200px;
}

.header_inner-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;

}

.header__inner {
	background: #fff;
	padding: 15px 0; 
}

.header__address {
	width: 210px;
}

.header__tel {
	text-align: right;
	width: 180px;
}

.header__main {
	display: flex;
	flex-direction: column;
}

.header__h1 {
	color: #311c01;
	font-family: "MullerBold";
	font-size: 60px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 1.5px;
	text-align: center;
	margin-top: 120px;
	margin-bottom: 56px;
}

span {
	color: #a2610d;
}

.header__reasons {
	display: flex;
	justify-content: space-between;
	padding: 0 134px;
	flex-direction: row;
}

.header__reason {
	width: 249px;
	height: 126px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 13px 24px rgba(153, 88, 4, 0.1);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__p-1 {
	width: 180px;
}

.header__p-2 {
	width: 128px;
}

.header__p-3 {
	width: 190px;
}

.header__button {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	box-shadow: 0 13px 24px rgba(153, 88, 4, 0.44);
	border-radius: 10px;
	background-color: #995804;
	background-image: linear-gradient(to left, rgba(197, 113, 5, 0) 8%, #c57105 100%);
	opacity: 0.99;
	padding: 16px 0 13px;
	width: 322px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__button p {
	color: #fff;
	letter-spacing: 0.5px;
}

.header__button-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 83px;
}


.header__potatos {
	background: url(../img/header__potatos.png) no-repeat right bottom;
	right: 0;
	width: 684px;
	height: 414px;
}

.container-header {
	z-index: 1;
}

.why {
	padding-bottom: 116px;
}

.why__text {
	color: #311c01;
	font-family: "MullerBold";
	font-size: 36px;
	letter-spacing: 0.9px;
	text-align: center;
	margin-bottom: 70px;
}

.why__items {
	display: flex;
	justify-content: space-between;
}

.why__item {
	height: 320px;
	width: 400px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.why__btn {
	width: 339px;
	background-color: #9f600d;
	background-image: linear-gradient(to left, rgba(197, 113, 5, 0) 8%, #c57105 100%);
	display: flex;
	align-items: center;
	border-radius: 10px;
	position: absolute;
	z-index: 2;
	height: 73px;
}

.why__icon {
	margin-left: 29px;
}

.why__text-btn {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding-top: 6px;
	letter-spacing: 0.5px;
	color: #fff;
	font-family: "MullerRegular";
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	width: 100%;
	position: absolute;
	padding-left: 10px;
}

.btn-active:hover {
	box-shadow: 0 13px 24px rgba(153, 88, 4, 0.44);
	background-color: #c07009;
}

.why__about {
	width: 339px;
	height: 198px;
	border-radius: 10px;
	background-color: #fff;
	color: #311c01;
	font-family: "MullerMedium";
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .7s ease;
	transform-origin: top center;
	transform: translateY(-50%);
}

.why__about p {
	width: 210px;
	text-align: center;

}

.why__about_p2 p {
	width: 276px;
}

.why__about_p3 p {
	width: 270px;
}

.why__item:hover .why__about {
	transform: translateY(50%);
	margin-top: -30px;
	box-shadow: 0 13px 24px rgba(153, 88, 4, 0.1);
}












@font-face {
	font-family: "MullerRegular";
	src: url("../fonts/Muller/MullerRegular/MullerRegular.otf") format("truetype");
}

@font-face {
	font-family: "MullerMedium";
	src: url("../fonts/Muller/MullerMedium/MullerMedium.otf") format("truetype");
}

@font-face {
	font-family: "MullerBold";
	src: url("../fonts/Muller/MullerBold/MullerBold.otf") format("truetype");
}